<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="/">China Blogger</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="/">回到主页</a></li>
      <li><a href="#">所有活动</a></li>
    </ul>
  </nav>
</header>

<!-- Main -->
<section id="main" class="container 75%">
  <header>
    <h2>联系我们</h2>
    <p>告诉我们您的需求或建议</p>
  </header>
  <div class="box">
    <%= form_for :message, as: :message, url: contact_path do |f| %>
    <div class="row uniform 50%">
      <div class="6u 12u(mobilep)">
        <%= f.text_field :username, placeholder: "姓名" %>
      </div>
      <div class="6u 12u(mobilep)">
        <%= f.text_field :email, placeholder: "电子邮件" %>
      </div>
    </div>
    <div class="row uniform 50%">
      <div class="12u">
        <%= f.text_area :content, placeholder: "输入您的反馈", rows: 6%>
      </div>
    </div>
    <div class="row uniform">
      <div class="12u">
        <ul class="actions align-center">
          <li>
            <%= f.submit "发给我们" %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</section>
